---
interface Props { label: string; name: string; }
const { label, name } = Astro.props;
---

<div id={name} class="ui-block autocomplete">
    <label for=`ac-${name}`>{label}</label>
    <input type="search" id=`ac-${name}` name=`ac-${name}` class="block" placeholder="Select an option..." autocomplete="off" />
    <ul role="list" class="block"></ul>
    <input type="hidden" name={name}/>
    <span id=`tip-${name}` class="ui-tiperr"></span>
</div>
