---
import { ViewTransitions } from "astro:transitions";
import MenuList from "../components/MenuList.astro";
import Alerts from "../components/Alerts.astro";
import { getLang } from "../i18n/langs.js";

const { lang } = Astro.params;
const i18n = getLang(lang);
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={i18n.metaDesc}>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/img/svg/favicon.svg" />
		<title>{i18n.title}</title>
		<ViewTransitions fallback="animate"/>

		<!-- CSS Styles -->
		<link rel="stylesheet" href="/css/main.css">

		<!-- JS Scripts -->
		<script type="module" src="/js/util.js"></script>
	</head>
	<body>
		<div class="loading hide"><b class="fas fa-spinner fa-3x fa-spin loading-content"></b></div>
		<a id="back-to-top" href="#top" class="hide back-to-top">
			<svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7 7.674 1.3a.91.91 0 0 0-1.348 0L1 7"/>
			</svg>
		</a>
		<Alerts/>

		<header></header>
		<nav transition:animate="none">
			<MenuList lang={lang}/>
		</nav>

		<main transition:animate="slide">
			<slot />
		</main>
		<footer></footer>
	</body>
</html>
